<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>All Books - Librarian</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
</head>
<body>
<header>
    <a th:href="@{/librarian}">Dashboard</a>
    <a th:href="@{/librarian/books}">Books</a>
    <a th:href="@{/librarian/copies}">Copies</a>
    <a th:href="@{/librarian/requests}">Requests</a>
    <a th:href="@{/logout}" style="margin-left:auto;">Logout</a>
</header>

<div class="container">
    <h2>Books in Library</h2>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Copies</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author.firstName + ' ' + book.author.lastName}"></td>
            <td th:text="${book.genre.name}"></td>
            <td>
                <a th:href="@{'/librarian/books/' + ${book.id} + '/copies'}">Manage Copies</a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(books)}">
            <td colspan="5" style="text-align:center; color:gray;"><em>No books found.</em></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
