<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online Classroom</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <header>
        <h1>Welcome to the Library</h1>
        <p class="center-text">
            Manage your courses and track progress—all in one place.
        </p>
    </header>

    <main>
        <a class="btn" th:href="@{/login}">Log In</a>
    </main>
</div>
</body>
</html>
