<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/><title>Browse Books</title></head>
<body>
<h2>Available Books</h2>
<table>
    <tr th:each="b : ${books}">
        <td th:text="${b.title}"></td>
        <td>
      <span th:if="${availability[b.id]}">
        <a th:href="@{'/reader/books/' + ${b.id}}">Request</a>
      </span>
            <span th:unless="${availability[b.id]}" style="color:gray;">
        No copies available
      </span>
        </td>
    </tr>
</table>

</body>
</html>
